h1, h2
{
	color: red;
}
table
{
	border: 2px solid blue;
}

.text-center
{
	text-align: center;
}

#rounded-img
{
	border-radius: 90px;
}

body
{
	background-image : url("teren.jpg");
}

h3
{
	color: white;
}

td, h4, p
{
	color: yellow;
}

.font {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}

h5, li
{
	color: white;
}



@keyframes myAnimation {
  from {background-color: red;}
  to {background-color: yellow;}
}

h5{
  width: 70px;
  height: 20px;
  background-color: red;
  animation-name: myAnimation;
  animation-duration: 4s;
}